<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AWS Nginx Server</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
            background: #111827;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        .container {
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 48px;
            margin-bottom: 10px;
        }

        p {
            color: #9ca3af;
            font-size: 20px;
        }

        .status {
            display: inline-block;
            margin-top: 25px;
            padding: 12px 24px;
            border-radius: 8px;
            background: #16a34a;
            font-weight: bold;
        }
    </style>
</head>

<body>

<div class="container">
    <h1>🚀 Nginx is Working!</h1>

    <p>
        Your AWS server is successfully running Nginx.
    </p>

    <div class="status">
        Server Online
    </div>
</div>

</body>
</html>